.colors {
  /* primery */
  background-color: rgb(247,63,35);

  /* icone */
  background-color: rgb(47,47,48);
  
  /* main color section  */
  background-color: rgb(241,240,236);  
  

  /* //footer  */
  background-color: rgb(34,36,41);
}